{% extends "base.html" %}

{% load static %}
{% load thumbnail %}

{% block body %}
<div class="sub-header">
	<div class="container sub-container">
		<div class=" col-sm-8 col-sm-offset-2 col-xs-12">
			<div class="row">

				<div class="sub-title">
					<span class="head">
                        Galeri
					</span>
					<div class="col-sm-8 col-sm-offset-2">
						<p>
													</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="subheader-background">
        <img src="{% static 'img/slider_img_1.png' %}" alt="">
	</div>
</div>
<section class="gallery">
 	 <div class="container">
		  <div class="row">
			  <div class="smo-gallery" itemscope="" itemtype="http://schema.org/ImageGallery">
                  {% for image in gallery %}
                		<figure class="col-sm-3 col-xs-6 gallery-item" itemprop="associatedMedia" itemscope="" itemtype="thumbnail">
                            <a href="{{ image.file.url }}" itemprop="contentUrl" data-size="800x532">
                                {% thumbnail image.file "400x400" quality=75 as im %}
                                <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" style="background-image:url({{ im.url }})" itemprop="thumbnail" alt="{{ image.name }}">
                                {% endthumbnail %}
							  </a>
						</figure>
                    {% endfor %}
                </div>
		  </div>
	  </div>
 </section>
{% endblock body %}
