{% extends "base.html" %}

{% load static %}

{% block title %}
{{ block.super }} - Anasayfa
{% endblock title %}

{% block body %}
<div class="banner">
	<div class="container">
		<div class="banner-content text-center">
			<div class="logo-cup">
                <img src="{% static 'img/odul-cup.png' %}" alt="">
			</div>
			<div class="start-rate">
                {{ poll.name }} {% if poll.active %}Katılımı Devam Etmektedir{% else %}Sona Ermiştir{% endif %}
			</div>
			<div class="lead">
				<p>
                {{ poll.desc }}
				</p>
			</div>
			<div class="join-rate-button">
                {% if poll.active %}
                <a href="{% url 'poll:start' poll.pk %}" class="btn btn-default">
					Katıl
				</a>
                {% else %}
                {% comment %}
                <a href="{% url 'poll:start' poll.pk %}" class="btn btn-default">
					Kazananları Gör
				</a>
                {% endcomment %}
                {% endif %}
			</div>
		</div>
	</div>
</div>
{% endblock body %}
