{% extends "base.html" %}

{% load static %}

{% block body %}
<div class="sub-header">
	<div class="container sub-container">
		<div class=" col-sm-8 col-sm-offset-2 col-xs-12">
			<div class="row">

				<div class="sub-title">
					<span class="head">
                        {{ page.title }}
					</span>
					<div class="col-sm-8 col-sm-offset-2">
						<p>
													</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="subheader-background">
        <img src="{% static 'img/slider_img_1.png' %}" alt="">
	</div>
</div>
{{ page.body|safe }}
{% endblock body %}
